@use "colors" as *;

// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------

$active-theme: $light;


// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------

$site-header-padding-block: var(--space-3xs);


// -----------------------------------------------------------------------------
// Navigation
// -----------------------------------------------------------------------------

$site-nav-list-gap: 1px;

$site-nav-link-foreground: var(--neutral-400);
$site-nav-link-foreground-hover: var(--neutral-600);
$site-nav-link-foreground-active: var(--primary-800);

$site-nav-link-background: transparent;
$site-nav-link-background-hover: transparent;
$site-nav-link-background-active: var(--primary-50);

$site-nav-link-font-family: inherit;
$site-nav-link-font-size: var(--fs-step-0);
$site-nav-link-font-weight: inherit;
$site-nav-link-line-height: 1.1;

$site-nav-link-padding: var(--space-m);
$site-nav-link-padding-mobile: var(--space-m);
$site-nav-link-border-radius: none;


// -----------------------------------------------------------------------------
// Hamburger
// -----------------------------------------------------------------------------

$hamburger-background: var(--primary-600);
$hamburger-padding: var(--space-2xs);
$hamburger-animation-timing: 200ms ease-in-out;
$hamburger-border: none;
$hamburger-border-radius: .125rem;

$hamburger-bar-color: var(--neutral-950);
$hamburger-bar-width: 36px;
$hamburger-bar-height: 6px;
$hamburger-bar-gap: 4px;


// -----------------------------------------------------------------------------
// Button
// -----------------------------------------------------------------------------

$button-font-size: var(--fs-400);
$button-font-weight: var(--fw-medium);

$button-foreground: var(--neutral-50);
$button-foreground-hover: var(--neutral-50);
$button-background: var(--neutral-500);
$button-background-hover: var(--neutral-600);

$button-padding: .75rem 1.5rem;

$button-border-width: 2px;
$button-border-style: solid;
$button-border-color: var(--button-border-color, transparent);
$button-border-radius: var(--radius-m);