@forward "sass/base";
@forward "sass/components";
@forward "sass/utilities";
@forward "sass/layout";


// -----------------------------------------------------------------------------
// Branding
// -----------------------------------------------------------------------------

.brand {
    --brand-color: var(--neutral-800);

    display: flex;
    align-items: center;
    gap: var(--space-xs);
    text-decoration: none;

    &__logo {
        height: 6ex;
        fill: none;
        stroke: var(--brand-color);
        stroke-width: 2px;
    }

    &__name {
        color: var(--brand-color);
        font-family: var(--ff-sans);
        font-size: var(--fs-step--1);
        font-weight: var(--fw-bold);
        text-transform: uppercase;
    }
}

//
//
//

.text--centered {
    text-align: center;
}

.ai--center {
    align-items: center;
}


.no-gap {
    gap: 0;
}


//
//
//

input, textarea, select {
    width: 100%;
    font-size: var(--fs-step--1);
    line-height: 24px;
    border: 1px solid var(--neutral-200);
    padding: var(--space-2xs) var(--space-xs);
    border-radius: var(--radius-s);
}

textarea {
    height: 208px;
    resize: none;
}


//
//
//

.circle {
    padding: var(--space-xs);
    border-radius: 100;
    background: var(--primary-100);
    line-height: 0;
    color: var(--primary-800);
}

hr.line {
    --_hr-width: var(--hr-width, 5rem);
    --_hr-color: var(--hr-color, var(--accent-500));
    width: var(--_hr-width);
    height: .15rem;
    background: var(--_hr-color);
    border: none;
    margin-block: var(--space-s);

    &--small {
        --hr-width: 2rem;
    }
}


.checklist {
    list-style: none;
}

.checklist li {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: var(--space-l); /* ruimte voor de checkmark */
    margin-bottom: var(--space-xs);
}

.checklist li::before {
    content: "✔"; /* de checkmark */
    position: absolute;
    left: 0;
    color: green; /* kleur van de check */
    font-weight: bold;
}


// -----------------------------------------------------------------------------
// Hero
// -----------------------------------------------------------------------------

.hero {
    overflow: clip;
    align-items: center;
    max-height: 80dvh;
    background: linear-gradient(180deg, transparent 0%, transparent 50%, var(--primary-900) 100%);

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: var(--layer-below);
        opacity: .8;
    }

    &__inner {
        color: var(--neutral-50);
        justify-content: center;
        z-index: var(--layer-2);
    }
}


// -----------------------------------------------------------------------------
// Over mij
// -----------------------------------------------------------------------------

.about {
    .switcher {
        align-items: center;
    }

    &__image img {
        overflow: clip;
        border-radius: var(--radius-full);
        aspect-ratio: 1;
        object-fit: cover;
    }
}



// -----------------------------------------------------------------------------
// Diensten
// -----------------------------------------------------------------------------

.diensten {}

.dienst {

    &__image {
        aspect-ratio: 16/9;
        object-fit: cover;
        width: 100%;
        height: auto;
    }
}