@forward "sass/base";
@forward "sass/components";
@forward "sass/utilities";
@forward "sass/layout";


// -----------------------------------------------------------------------------
// Branding
// -----------------------------------------------------------------------------

.brand {
    --brand-color: var(--accent-500);

    display: flex;
    align-items: center;
    gap: var(--space-xs);
    text-decoration: none;

    &__logo {
        height: 6ex;
        fill: none;
        stroke: var(--brand-color);
        stroke-width: 2px;
    }

    &__name {
        color: var(--brand-color);
        font-family: var(--ff-sans);
        font-size: var(--fs-step--1);
        font-weight: var(--fw-bold);
        text-transform: uppercase;
    }
}

//
//
//

.text--centered {
    text-align: center;
}